.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login {
  text-align: center;
  width: 25vw;
  margin: auto;
  padding: 2rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login form{
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login form input {
  font-size: 2rem;
  width: 100%;
  height: 3em;
  padding-left: 3%;
}
.Login form button {
  font-size: 1.5rem;
  height:4em;
  width: 9em;
  margin-top: 40px;
  background-color: #009900;
  border-radius: 10px;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 3px solid black;
  width: 30vw;
  margin: auto;
  padding: 3rem;
}